<% layout("/layouts/boilerplate") %>
<div class="row mt-3">
  <h1 class="col-6 offset-3">Signup on wanderlust</h1>
  <div class="col-6 offset-3">
    <form action="/signup" method="post" class="needs-validation" novalidate>
      <div class="mb-3">
        <label for="username" class="form-label">User</label>
        <input
          id="username"
          name="username"
          placeholder="username"
          type="text"
          class="form-control"
          required />
        <div class="invalid-feedback">Please Provide a Username.</div>
      </div>
      <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input
          id="email"
          name="email"
          placeholder="email"
          type="email"
          class="form-control"
          required />
        <div class="invalid-feedback">Please Provide a email.</div>
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input
          id="password"
          name="password"
          placeholder="password"
          type="password"
          class="form-control"
          required />
        <div class="invalid-feedback">Please Provide a password.</div>
      </div>
      <button class="btn btn-success">Signup</button>
    </form>
  </div>
</div>
